*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
font-family:"Roboto", helvetica,arial,sans-ser ;
font-size: 14px;
line-height:1.42857143;
color: #33333333;
background-color:#f0f0f0;

}
#top{
    background-color:#555555;
    padding: 10px 0;
}
#top .offer{
    color:#fff;
}
#top .offer .btn{
    text-transform: uppercase;
}
@media(max-width:991px){
    #top .offer{
        margin-bottom: 10px;
    }
}
@media(max-width:991px){
    #top{
        font-size: 12px;
        text-align: center;
    }
}

#top a{
    color: #fff;
}

#top ul.menu{
    padding-top: 5px;
    margin: 0;
    text-align: right;
    font-size: 12px;
    list-style: none;
}
@media(max-width:991px)
{
    #top ul.menu{
        text-align: center;
    }
}

#top ul.menu{
    text-align: center;
}
#top ul.menu >li{
    display:inline-block;
}
#top ul.menu > li a{
    color: #eeeeee;
}
#top ul.menu > li + li:before{
    content:"|\00a0" ;
    padding: 0 5px;
    color: #f7f7f7;

}

/* header Style */
.navbar{
    background-color:white;
}
.navbar-collapse .right{
    float:right;
}
.navbar-brand {
    float: left;
    padding:10px 15px;
    font-size:18px;
    line-height:20px;
    height: 70px;
}

.navbar-brand:hover, 
.navbar-brand:focus{
    text-decoration: none;

}
.navbar ul.nav > li > a{
    text-transform: uppercase;
    font-weight:bold;
    font-size:14px;
}
.padding-nav{
    padding-top: 10px;
}
.navbar ul.nav > li > a:hover{
    background-color:#e4e00f;
}
.btn-primary{
    color: rgb(255,255,255);
    background-color:rgb(79,191,168);
    border-color: rgb(65,179,156);
}
.search{
    margin-left: 20px;
}
#search .navbar-form{
    float:right;
}
#search{
    clear:both;
     border-top: solid 1px #9adacd;
    text-align:right;
 }
#search .navbar-form .input-group{
     display:table;
 } 
#search .navbar-form .input-group .form-control{
    width:100%;
 }

 /* ----slider--- */
 #slider{
     margin-bottom: 40px;
 }

 /*----- Feature Box--- */
 .box{
     background-color: #fff;
     margin: 0 0 30px;
     border: solid 1px #e6e6e6;
     padding:20px;
     box-shadow: 0 1px 5px rgba(0,0,0,0.1);
 }
 #advantage{
     text-align: center;
 }
 #advantage .box .icon{
     position: absolute;
     font-size:120px;
     width:100%;
     text-align:center;
     top: -20px;
     left: 0;
     height: 100%;
      float :left; 
     color: #eeeeee;
     transition:  all 0.2s ease-out;
     z-index: 1;
     box-sizing: border-box;
 }
 #advantage .box h3{
     position: relative;
     margin: 0 0  20px;
     font-weight: 300;
     text-transform: uppercase;
     z-index: 2;

 }
 #advantage .box h3 a:hover{
     text-decoration: none;
 }
 #advantage .box p{
     position: relative;
     color: #555555;
     z-index: 2;
 }

 #hot h2{
     text-transform: uppercase;
     font-size:36px;
     color: #4993e4;
     font-weight:100;
     text-align: center;

 }

 /* ----Product-Vip---- */
 #content{
     padding-left: 25px;
 }
 .single{
     width:290px;
 } 
  @media(max-width: 768px)
 {
     .single{
         width: 60%;
         margin: 0 auto;
     }
 } 
 #content .product{
     background: rgb(255, 255, 255);
     border: solid 2px rgba(5, 5, 5, 0.4);
    box-sizing: border-box;
    margin-bottom: 30px;
/*     border-radius: 10px;
 */ }
 #content .product .text p.prices{
     font-size: 18px;
     text-align: center;
     font-weight: 300;
     color: rgb(248, 8, 40);
 }
 #content .product .text .buttons{
    clear: both;
    text-align: center;
 }
 #content .product .text h3{
     text-align: center;
     font-size:20px;
 }
 #content .product .text h3 a{
     color: rgb(85,70,0);
 }
 #content .product .text{
    padding: 10px 10px 0px;
 }
 #content .product .text .buttons .btn{
     margin-bottom: 10px;
 }

/*-------------Product category-----  */
#content .panel.sidebar-menu{
    box-sizing: border-box;
    box-shadow: 0 1px 5pxx rgba(0,0,0,0.1);
}
#content .panel.sidebar-menu ul.nav.category-menu{
    margin-bottom:20px;
}
#content .panel.sidebar-menu ul.nav.category-menu li a{
    text-transform:uppercase;
    font-weight:bold;
    
}
#content .panel.sidebar-menu h3{
    padding: 5px 0;
    margin: 0;
    text-align: center;

}

/* -----breadcrumb section--------- */
.breadcrumb{
    padding:8px 15px;
    margin-bottom:20px;
    background-color: #ffffff;
    border-radius: 0;
    box-shadow: 0 1px 5px rgba(0,0,0,0.5);
}
.breadcrumb >li + li:before{
    content: ">\00a0";
    color:#cccccc;
}
@media(max-width:991px){
    .breadcrumb{
        padding: 10px 0;
        text-align: center;
    }
}

/* -------Shop-Product-Style-----*/
 @media(max-width:768px)
{
    .center-responsive{
        width: 70%;
        margin: 0 auto;
    }
} 
@media(max-width:550px)
{
    .center-responsive{
        width: 95%;
        margin: 0 auto;
    }
}

/* ---Details Page Styles */
#content #productmain{
    margin-bottom: 30px;
}
#content #productmain p.prices{
    color: black;
     text-align: center; 
     font-size:30px;
     font-weight: 300;
}
#content #mainimage{
    box-shadow: 0 1px 5px rgba(0,0,0,0.7);
}
#content .thumb a{
    display: block;
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    border: solid 2px transparent;
}
#content .headline{
    height:165px
}
#content .sizezz{
    list-style: none;
    
}
#content .sizezz li{
    margin-left: 20px;  
}


/* tesst */
.product-content-right-bottom{
    padding-top: 40px;
    border-top: 1px solid #dddddd;
    position: relative;
}
.product-content-right-bottom-top{
    position: absolute;
    width:30px;
    height:30px;
    border: 1px solid #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#fff;
    top: -15px;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
.product-content-right-bottom-content-title{
    border-bottom:  2px solid #dddddd;
}
.product-content-right-bottom-content-title-item p{
    font-family: var(--main-text-font);
    font-size: 12px;
}
.product-content-right-bottom-content-title-item{
    padding:6px;
    cursor: pointer;
    margin-right: 6px;
}
.product-content-right-bottom-content{
    padding-top: 30px;
}
.product-content-right-bottom-content{
    font-family: var(--main-text-font);
    font-size: 12px;
}
.product-content-right-bottom-content-baoquan{
    display:none;
}
.activeB{
    display: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
/* ---test end */

/* ---cart styles --- */
#content  #cart .table tbody tr td img{
    width: 50px;
}
#content #cart .table tbody tr td input{
    width: 40px;
    text-align: right;
}
#content #cart .table tbody tr td{
    vertical-align: middle;
}
#contnent #cart .table tfoot{
    font-size:18px;
}
.box .box-footer{
    background: rgba(155, 149, 153, 0.582);
    margin:30px -20px -20px ;
    padding:20px;
    border-top: solid 1px #ff0505;
}
.box .box-footer:before,
.box .box-footer:after{
    content:" ";
    display: table;
}
.box .box-footer:after{
    clear: both;
}
.box .box-header{
    background:#afd2d6;
    margin: -20px -20px 20px;
    padding: 20px;
    border: solid 1px #000000;
    
} 

#content #order-summary h3{
    text-align: center;
    font-family: 500;
}
#content #order-summary table{
    margin-top:20px;
}
#content #order-summary table td{
    color: #0ab334;
    font-size: 15px;
    font-weight: bold;
}

 







 /* ---------Footer Style---- */
 #footer {
     background:#e0e0e0;
     padding:20px 0;
 }
 #footer ul{
     padding-left: 0;
     list-style: none;
 }
 #footer ul a {
     color :chocolate;
     font-size:15px;
     font-weight: 500;
     padding: 20px 0;
     
 }
 #footer .social {
    text-align: left;
  }
 #footer .social a{
    margin: 0 10px 0 0;
    color: #ffffff;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    line-height: 30px;
    font-size: 15px;
    text-align: center;
    transition: all 0.2s ease-out;
    vertical-align: bottom;
    background-color: #555555;
 }
 #footer h4{
     color: black;
     text-transform:uppercase;
 }
 /* ------------footer style end-------- */

 /*------------- copyright section------ */
 #copyright
 {
     background-color:#333;
     color:#ccc;
     padding:20px;
     font-size: 18px;
 }
 #copyright p{
     margin: 0;
 }

 
/* totop */
 html{
    scroll-behavior: smooth;
}
.to-top {
    background: rgb(112, 0, 218);
    position: fixed;
     bottom: 16px;
    right:32px; 
    width:50px;
    height:50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:32px;
    color:#ffffff;
    text-decoration: none;
    opacity:0;
    pointer-events: none;
    transition: all 0.4s;
  }
  
  .to-top.active {
    bottom:32px;
    pointer-events: auto !important;
    opacity:1;
    text-decoration: none;
    color:rgb(22, 247, 2);

  }